  .characteristicsCard{
    margin: 3rem 0;
    .characteristicsContent,.characteristicsImg{
      flex-basis: 100%;
      ul{
        padding: 0 !important;
      }
    }
    &:first-child{
      margin-top: 2rem;
    }
    &:last-child{
      margin-bottom: 0;
    }
    .gridRow{
      .listSide,.imgSide{
        width: 50%;
      }
      .imgSide{
        background-color: $white;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
      }
    }
  }